.logo {
    width: 100%;
}

.logoImgDiv {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    grid-gap: 2rem;
    grid-auto-rows: repeat(auto-fit, minmax(1fr 1fr, 1fr 1fr));
} 

.aboutMeInfo {
    margin-bottom: 2rem;
}

.nameSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}